nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	background-color: var(--bg-color);
	transition: .5s;
	&.scroll {
		
		box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.68);
	}
    a img {
		width: 30px;
		display: flex;
	}
	.nav-container{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 800px;
		padding: 1rem 2rem;
		margin: auto;
		transition: height .3s ease;
		align-items: center;
		font-size: 1rem;
		@media (min-width: 500px) {
			flex-direction: row;
		}
		.brand a {
			font-weight: bold;
			display: flex;
			align-items: center;
			color: var(--heading-color);
			text-decoration: none;
		}
		.brand span.text {
			display: none;
			margin-left: 15px;
			@media (min-width: 600px) {
				display: block;
			}
		}
		.links {
			display: flex;
			justify-content: space-around;
			flex-direction: row;
			flex: unset;
			align-items: center;
			a {
				text-decoration: none;
				margin: 0 0.1rem;
				padding: 1rem .5rem;
				color: var(--font-color-light);
				&:active, &:hover {
					color: var(--heading-color)
				}
			}
		}
	}
}
