.posts {
    .post {
        color: var(--font-color-light);
        padding: 20px;
        border-radius: 18px;
        display: flex;
        align-items: center;
        &:hover {
            background-color: var(--secondary-color);
            color: var(--font-color);
        }
        img {
            margin-right: 10px;
        }
        h2 {
            font-size: 1.2rem;
            margin: 0;
        }
    }
}