html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
	color: #5183f5;
	text-decoration: none;
	font-weight: 600;
}

.favicon {
    height: 23px;
    width: 23px;
	margin-bottom: 0;
	margin-right: 1rem;
}

.kofi {
	max-width: 38px;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	background: #fff;
}

nav .nav-container {
	display: flex;
	justify-content: space-between;
	max-width: 800px;
	padding: 0 2rem;
	margin: auto;
	transition: height .3s ease;
	height: 90px;
	align-items: center;
	font-size: 1rem;
	color: #111;
}

nav .nav-container .brand a {
	display: flex;
	align-items: center;
	color: rgba(0, 0, 0, 0.7);
}

nav .nav-container .brand span {
	display: none;
}

.links {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex: unset;
	align-items: center;
}

nav .links a {
	font-size: 1rem;
	margin: 0 1rem;
	padding: 1rem .5rem;
	color: rgba(0, 0, 0, 0.45);
}

nav .links a:active, nav .links a:hover, nav .brand a:focus, nav .brand a:hover {
    color: #111;
}

#main-container {
	margin-top: 92px;
	padding: 60px 0 0;
	min-height: calc(100vh - 219px);
}

.container {
	max-width: 800px;
	padding: 0 2rem;
	margin: auto;
}